
table  {
  margin: 10px;
  width: 100%;
  border-collapse: collapse;
  border:1px solid rgb(143, 139, 139);
  padding: 10px;
  border-radius: 20px;
}
th , td
{
   
    padding: 10px;
}
 th

 {
   margin-right: 0;
    background-color: white;
    color: rgb(165, 157, 157);
    
 }
 tr:nth-child(even) {

  background-color: rgb(182, 180, 180)
  
  }