.others{
    background-color: rgb(216, 214, 214);
    display: flex;
}
button{
    
    background-color: rgb(3, 3, 78);
    color: white;
    padding-top: 15px;
    padding-bottom:15px ;
    padding-left: 10px;
    padding-right:35px ;
    justify-items: start; 
    border: none;
    border-radius: 10px;   
}
.right_aligned
{
    
    justify-items: end;
}
#btn-search {
    background-color: rgb(3, 3, 78);
    color: white;
    padding-top: 10px;
    padding-bottom:10px ;
    padding-left: 10px;
    padding-right:35px ;
    border: none;
    border-radius: 10px; 
}
#search_bar 
{
padding: 10px;
border-color: 1px solid gray;
border-radius: 10px;
}
#sort {
     padding: 5px;
}